/* selector universal */

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Limpiar efectos que vienen por default */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none; /*Para sacarle los puntitos a las listas*/
}

img {
    width: 50%;
}

/* Estilando los contenedores principales */
header {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
}
/* Solo se le da altura al header y el hero */
.hero {
    background-color: aquamarine;
    display: flex;
    height: 80vh; /*Solo se usa para el hero*/
}

.featured-listing {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    /* margin-top: 80px; para ver la diferencia con el padding*/
    padding: 4.5rem 0;
}

.our-vision {
    background-color: coral;
    display: flex;
    padding: 4.5rem 0;
}

.easy-step {
    background-color: darkolivegreen;
    padding: 4.5rem 0;
}

.choose {
    background-color: darkgoldenrod;
    display: flex;
    padding: 4.5rem 0;
}

/* Subcontenedores de los principales */

/* .featured-listing .contenedor-cards {
    display: flex;
}

.featured-listing .alineardeados{
    display: flex;
} */

.hero .imagen-hero {
    transform: scaleX(-1);
}

.easy-step .contenedor-pasos {
    display: flex;
}

/* Seccion para las clases */

.alineardeados {
    display: flex;
}

.contendorDeCuatro {
    display: flex;
}