header {
    background-color: aqua;
}

.hero {
    background-color: aquamarine;
}

.Featured-Listing {
    background-color: cadetblue;
}

.our-vision {
    background-color: coral;
}

.easy-step {
    background-color: darkolivegreen;
}

.choose {
    background-color: darkgoldenrod;
}